$colors:hsl(0, 0%, 100%),hsl(275, 100%, 97%),hsl(292, 16%, 49%),hsl(293, 94%, 38%),hsl(292, 42%, 14%);

:root {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font: {
        family:Work Sans,sans-serif;
        size:16px;
    }
    background-color:nth($colors,2);
    background-image:url('../meterials/background-pattern-desktop.svg');
    background-repeat:repeat-x;
    color:nth($colors,5);
}

#main {
    background-color:nth($colors,1);
    width:40%;
    border-radius:20px;
    box-shadow:8px 15px 10px #b3adad30;
    padding:3% 5%;
    margin:10% auto;
}

#header {
    h1 {
        &::before {
            content:'';
            background-image:url("../meterials/icon-star.svg");
            display:inline-block;
            width:1em;
            height:1em;
            background-size:1em;      
            vertical-align:middle;
            margin-right:0.5vw;
        }
    }
}

.section {
    padding:5% 0;

    &:not(:last-of-type) {
        border-bottom:1px solid #cccccc50;
    }

    .item {
        display:flex;
        justify-content:space-between;
        align-items: center;
    
        //h3滑鼠移入樣式
        &:hover {
            color:nth($colors,4);
            cursor:pointer;
        }
    }

    p {
        color:nth($colors,3);
        font-weight:600;
    }
}



